<%- include("navbar"); -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6140c51cb6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <title><%=title%></title>
</head>
<body>

    <div class="container">
      

            <div class="left" id="left">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-left" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" />
                  <polyline points="15 6 9 12 15 18" />
                </svg>
              </div>

            <div class="carousel">
                <div class="image-container" id="imgs">
                    <img class="img" src="../assets/images/1.jpg" alt="first">
                    <img class="img" src="../assets/images/2.jpg" alt="second">
                    <img class="img" src="../assets/images/3.jpg" alt="third">
                    <img class="img" src="../assets/images/4.png" alt="forth">
                </div>
            </div>

            <div class="right" id="right">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-right" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" />
                  <polyline points="9 6 15 12 9 18" />
                </svg>
              </div>

        
<div class="event">
    <h2 style="font-size: 35px">Izhaar</h2>
    <h1 style="font-size: 55px"></h1tyle>by mudra</h1>
    <br>
    <p style="font-size: 20px"></p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde in repudiandae, quia ullam libero molestiae ea, impedit nisi nostrum facilis quibusdam sit quaerat, magni id ut sed animi incidunt est? 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, sequi quibusdam! Unde dolorem quis deserunt nam necessitatibus doloribus obcaecati, veritatis porro aliquid vero mollitia ducimus saepe repellat quidem temporibus at.
    </p>
</div>


    </div>

    <script  src='/js/home.js'></script>
</body>
</html>