<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6140c51cb6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/navbar.css">
    <title><%=title%></title>

	<link rel="icon" href="../assets/images/favicon ti.ico" >
</head>
<body>
    <nav>
        
	<button class="account-btn"><i href="#" class="fas fa-user-astronaut"></i></button>
    <button><i href="#" class="fas fa-bell"></i></button>

		<div class="navbar">
			<ul>
				<li class="logo heading"><a href ="#" ><img src="/assets/images/ti.png"  Thapar width="55px" height="40px" ></a></li>
				<li><a href="#">Sociate</a></li>
				<li><a href="#">Discro</a></li>
				<li><a href="#">Herupa</a></li>
				<li><a href="#">UnAcademic</a></li>
	  </ul>
		</div>

		<div class="navbar-icon">
			
			<ul>
				<li class="logo heading"><a href ="#" ><img src="/assets/images/ti.png"  Thapar width="45px" height="35px" ></a></li>
				<li><i class="fab fa-squarespace"></i></li>
				<li><i class="fas fa-comments"></i></li>
				<li><i class="fas fa-book"></i></li>
				<li><i class="fas fa-quidditch"></i></li>
	  </ul>
		</div>
	  
		
		<!-- <button><i class="fa fa-times search-cross" id="searchbar-cross" aria-hidden="true"></i></button> -->
				<input type="text" id="searchbar-input" placeholder="Search what you need..." >
				<button><i class="fa fa-search search" id="search" aria-hidden="true"></i></button>
			
				
	  <button class="menu-btn" id="menu-btn"><i class="fas fa-bars" href="#"></i></button>
	  
        
</nav>

<div class="menu" id="menu">
	<button class="close-btn" id="close-btn"><i class="fas fa-door-open" href="#"></i></button>
	<ul class="menu-nav">
		<li><a href="#" class="head">Sociate</a>
		<ul>
			<li><a href="#">Events</a></li>
			<li><a href="#">Societies</a></li>
			<li><a href="#">Feeds</a></li>
			
		</ul>
		</li>
		<li><a href="#" class="head">Discro</a>
		<ul>
			<li><a href="#">Anouncements</a></li>
			<li><a href="#">Clubs</a></li>

		</ul>
		</li>
		<li><a href="#" class="head">Herupa</a>
		<ul>
			<li><a href="#">First Year</a></li>
			<li><a href="#">Second Year</a></li>
			<li><a href="#">Third Year</a></li>

		</ul>
		</li>
  <li><a href="#" class="head">UnAcademic</a>
	<ul>
	  <li><a href="#">Informal Research</a></li>
	  <li><a href="#">Short Vids</a></li>
	  <li><a href="#">Blogs</a></li>
	</ul>
  </li>
	</ul>



<div class="social">
	<div class="social-back">
		<a href="#">
			<i class="fab fa-facebook-f"></i>
		</a>
	</div>
	<div class="social-back"><a href="#">
			<i class="fab fa-twitter"></i>
		</a>
	</div>
	<div class="social-back">
		<a href="#">
			<i class="fab fa-instagram"></i>
		</a>
	</div>
	<div class="social-back">
		<a href="#">
			<i class="fab fa-whatsapp"></i>
		</a>
	</div>

	
</div>
<div class="location">
	<p >
		From: Ludhiana, Punjab<br>
		 
	</p>
</div>

</div>
    <script  src='/js/navbar.js'></script>
</body>
</html>